:root {
  --bkgclr: #f3e5d8;
  --formheroclr: #ffffff;
  --herotextclr: #722c48;
  --prepcontainer: #fff7fc;
  --alltextclr: hsl(30, 10%, 34%);
  --basictextclr: black;
}

.bold {
  font-weight: bold;
}

.font1 {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
}

.font2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

body {
  background-color: var(--bkgclr);
  color: var(--alltextclr);
  box-shadow: 1px;
}

.container {
  max-width: 60vh;
  min-width: 30vh;
  width: 75%;
  height: 100%;
  margin: 3em auto;
  border-radius: 3vh;
  background-color: var(--formheroclr);
  padding: 2vh 3vh 2vh 3vh;
  overflow: visible;
}

.headerimg {
  width: 97%; /* Use a percentage to make the width responsive */
  max-width: 600px; /* Limit the maximum width */
  height: auto;
  margin: 0.8em auto;
  margin-left: 15px;
  border-radius: 20px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--basictextclr);
}

h1 span {
  color: var(--herotextclr);
}

.description {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h2,
h4 {
  padding-left: 20px;
  color: var(--herotextclr);
  font-family: outfit, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

h3 {
  padding-left: 25px;
  color: var(--herotextclr);
  font-family: young serif, serif;
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
  padding-top: 4vh;
}

li {
  padding-top: 10px;
  font-family: outfit, sans-serif;
  font-weight: 400;
  color: var(--alltextclr);
}

.prepcontainer {
  width: 90%;
  height: auto;
  margin: 0 auto;
  background-color: var(--prepcontainer);
  border-radius: 10px;
  padding: 3px;
}

.instructioncontainer {
  border-top: 1px solid hsla(15, 4%, 18%, 0.315);
  width: 90%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

body form section ol li {
  font-family: outfit, sans-serif;
  font-weight: 400;
  color: var(--alltextclr);
  font-size: 1em;
}

.custom-ul li::marker {
  color: var(--herotextclr);
  font-size: 1.2em;
}
.nutritiondescription {
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  padding-left: 4vh;
}

.nutritioncontainer {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.nutritioncontainer p {
  border-top: 1px solid hsla(15, 4%, 18%, 0.178);
  padding: 10px 10px 10px 10px;
}

.unstyled {
  border: none !important;
}

.nutritiontype {
  float: left;
  width: 100%px;
  max-width: 100px;
  height: auto;
  font-weight: 300;
  color: var(--alltextclr);
  margin-left: 5vh;
}

.nutritionvalue {
  display: flex;
  flex-direction: column;
  margin-left: 40vh;
  font-weight: 700;
  color: var(--herotextclr);
}

.attribution {
  font-size: 1.2em;
}
